.raw{
	margin-top: 2rem;
	width: 100%;
	display: block;
}

.col-sm-3{
	display: inline-block;
	vertical-align: top;    /*如果变成inline-block，元素的对齐方式会改为baseline,很容易导致高度不一致的问题*/
	_width: 25%;
}

.col-sm-9{
	display: inline-block;
	vertical-align: top;
	_width: 75%;
	margin-bottom: 10rem;
}

.btn-group{
	margin-left: 0.5%;
	margin-right: 0.5%;
	display: inline-block;
}

.item{
	height: 60vh;
}

.item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}